<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="https://kit.fontawesome.com/65b693f271.js" crossorigin="anonymous"></script>
  <!-- CSS Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/auth.css">

  <!-- JS, Popper.js, and jQuery Bootstrap-->
  <script defer src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
    <script defer src="scripts/login.js"></script>
  <title>Log In</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg">
      <img class="navbar-brand logo" src="images/General-Assembly-logo.png" alt="logo">
    </nav>
  </header>
  <main>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="row">
          <img src="images/GA-logo.png" id="profile-logo" alt="" srcset="">
        </div>
        <div class="row">
          <h1>LOG IN</h1>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row">
        <form id="loginForm">
          <div class="form-group">
            <label>Student ID</label>
            <input type="text" class="form-control" id="studentId" placeholder="ex: 12345">
            <div class="invalid-feedback">
              Please check your student ID
            </div>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" id="email" placeholder="Your Email">
            <div class="invalid-feedback">
              Please check your email
            </div>
          </div>
          <div class="form-group">
            <label>Course title:</label>
            <select name="titles" id="title-options">
            </select>
          </div>
          <button type="submit" class="btn btn-danger">Log In</button>
        </form>
      </div>
    </div>
  </main>

</body>

</html>