<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="https://kit.fontawesome.com/65b693f271.js" crossorigin="anonymous"></script>
  <!-- CSS Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/style.css">

  <!-- JS, Popper.js, and jQuery Bootstrap-->
  <script defer src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script defer src="scripts/profile.js"></script>
  <title>Profile</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg">
      <img class="navbar-brand logo" src="images/General-Assembly-logo.png" alt="logo">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto d-flex align-items-center justify-content-center">
          <li class="nav-item active">
            <a class="nav-link" href="/profile" id="navigation">Profile</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/reports" id="navigation">Weekly Survey</a>
          </li>
          <!-- <li class="nav-item active">
            <a class="nav-link" href="/classmates" id="navigation">Classmates</a>
          </li> -->
          <li class="nav-item active">
            <a class="nav-link" href="/" id="logout">Log Out</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="row">
          <img src="images/GA-logo.png" id="profile-logo" alt="" srcset="">
        </div>
        <div class="row mb-3">
          <div class="col-sm-12">
            <h1 id="name"></h1>
            <h2 id="coursetitle"></h2>
            <h4 id="email"></h4>
          </div>
        </div>
        <div class="row">
          <h5>Late: <span id="late"></span></h5>
        </div>
        <div class="row">
          <h5>Absence: <span id="absence"></span></h5>
        </div>
      </div>
    </div>

    <section>
      <div class="container">
        <div class="row">
          <h2>Deliverables</h2>
        </div>
        <div class="row">
          <h6 class="complete-text">Submited</h6>
          <h6 class="incomplete-text">Incomplete</h6>
          <h6 class="missing-text">Missing</h6>
        </div>
        <div class="row">
          <div class="col-sm-12" id="table">
            <table>
              <tr>
                <!-- <th>Week</th> -->
                <th>HW1</th>
                <th>HW2</th>
                <th>HW3</th>
                <th>HW4</th>
                <th>HW5</th>
                <th>HW6</th>
                <th>HW7</th>
                <th>HW8</th>
                <th>HW9</th>
                <th>HW10</th>
              </tr>
              <tr>
                <td id="hw1"></td>
                <td id="hw2"></td>
                <td id="hw3"></td>
                <td id="hw4"></td>
                <td id="hw5"></td>
                <td id="hw6"></td>
                <td id="hw7"></td>
                <td id="hw8"></td>
                <td id="hw9"></td>
                <td id="hw10"></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </section>

    <section id="feedback">
      <div class="container">
        <div class="row">
          <h2>Weekly Feedback</h2>
        </div>
        <div class="row" id="feedback-list">
          <ul>
            <li>
              Week 0:
              <p>Welcome to GA!</p>
            </li>
            <li>
              Week 1:
              <p id="week1"></p>
            </li>
            <li>
              Week 2:
              <p id="week2"></p>
            </li>
            <li>
              Week 3:
              <p id="week3"></p>
            </li>
            <li>
              Week 4:
              <p id="week4"></p>
            </li>
            <li>
              Week 5:
              <p id="week5"></p>
            </li>
            <li>
              Week 6:
              <p id="week6"></p>
            </li>
            <li>
              Week 7:
              <p id="week7"></p>
            </li>
            <li>
              Week 8:
              <p id="week8"></p>
            </li>
            <li>
              Week 9:
              <p id="week9"></p>
            </li>
            <li>
              Week 10:
              <p id="week10"></p>
            </li>
            <li>
              Week 11:
              <p id="week11"></p>
            </li>
            <li>
              Week 12:
              <p id="week12"></p>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </main>
</body>

</html>