nav {
  height: 70px;
}

form {
  width: 50%;
}

.form-control {
  height: 60px;
}

.btn {
  background-color: #ea474e;
  border-style: none;
}

.btn:hover {
  background-color: #f67178;
  border-style: none;
}

#logo {
  width: 200px;
  object-fit: contain;
}