body {
  background-color: white;
  width: 100%;
  height: 100%;
  font-family: monospace;
}

/* navbar */
nav {
  background-color: black;
  padding: 20px;
}

.fa-bars {
  color: #fff;
}

.logo {
  height: 30px;
  object-fit: contain;
}

.nav-item {
  height: 40;
}

li a {
  display: block;
  position: relative;
  color:#fff;
  height: 40;
  line-height: 40px;
}

li:hover {
  background-color: white;
}

li a:hover {
  color: #fa4542;
}

/* end navbar */

h1 {
  font-size: 40px;
}

section {
  margin-top: 60px;
  margin-bottom: 60px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-sm-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col-sm-12 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jumbotron {
  padding: 15px 0;
  background-color: rgb(255, 255, 255);
  margin-bottom: 60px;
}

#profile-logo {
  width: 100px;
  object-fit: contain;
}

h6 {
  margin: 0 10px;
  font-size: 10px;
}

.complete {
  background-color: green;
}

.complete-text {
  color: green;
  font-weight: 600;
}

.incomplete {
  background-color: goldenrod;
}

.incomplete-text {
  color: goldenrod;
  font-weight: 600;
}

.missing {
  background-color: #fa4542;
}

.missing-text {
  color: #fa4542;
  font-weight: 600;
}

table {
  max-width: 100%;
   border-collapse: separate;
  border-spacing: 10px 5px;
}

th {
  font-size: 1.5vw;
  padding-right: 10px;
}

td {
  height: 20px;
  margin: 5px;
}

#feedback-list {
  justify-content: start;
}

#feedback-list li {
  font-weight: bold;
}

p {
  font-weight: normal;
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 25px;
  }

  h4 {
    font-size: 20px;
  }

}